#!/usr/local/bin/bash

# ntop
NTOP_USER=admin
NTOP_PASSWD=admin

# pfSense
PF_IP=127.0.0.1
PF_SERVER=https://127.0.0.1/
USER=admin
PASSWD=pfsense
ZONE=mars

# MySQL
MYSQL_USER=radius
MYSQL_PASSWD=radpass

# mail notifications
# also adjust values of this ssmtp config file
SSMTP_CONFIG=/home/marsPortal/ssmtp.config
RECEIVER=cneumann@marsgeneral.com