#banner {
  border-bottom: 2px solid;
  padding: 0em;
}

.listtable { 
  border-collapse: collapse; 
  border-style: hidden;
}

.listtable td, .listtable th {
     border: 1px solid #CCCCCC; 
     padding: 1px;
     text-align:center; 
     vertical-align:middle;
}

#banner img { float: left; }

  #main {
    margin-left: 14em;
    padding: 1em;
    background: white;
    border-left: 2px solid;
  }

  #side {
    float: left;
    padding: 0em 1em;
    width: 13em;
  }
  
  #footer {
    border-top: 2px solid;
	text-align: center;
  }
  
  #ul1 {
    padding: 0em;
  }
  
  #ul1 li {
      list-style: none;
      padding-top: 1em;
  }
  
  #ul2 {
      padding: 0em;
      padding-left: 1em;
  }
  
  #ul2 li {
        padding-top: 0em;
  }

